
@mixin container-sizing() {
  padding: 100px 75px;

  @media (max-width: $screen-md-max) {
    padding: 50px 30px;
  }
}

@mixin main-page-header(){
  color: $brand-primary;
  font-size: 40px;
  font-weight: 400;
}

@mixin main-page-header-left-padding(){
  padding-left: 75px;

  @media (max-width: $screen-md-max) {
    padding: 20px 50px;
  }

}

a {
  &:hover {
    color: $brand-primary;
  }
}