
@import "resources/assets/sass/base/variables";

.main-course-container{
  margin-top: 70px;

  .title-container {
    text-align: center;
    .tutorial-symbol-container{
      display: inline-block;
    }
  }

  .page-header {
    text-align: center;
    margin: 0px 0px 40px;
    border: none;
  }

  .stages {
    .stages-list{
      width: 33%;
      display: inline-block;
    }
  }
}
