#page_wrapper{


}

.tutorials-container {
  padding: 60px 0px;
  overflow: hidden;
  position: relative;
  min-height: 50vh;


  .center-tutorial-btn {
    display: flex;
  }
  .main-tutorial-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }

  .tutorial-row  {
    .tutorial-description-container {
      text-align: right;
    }
    &.justify-content-end .tutorial-description-container{
      text-align: left;
    }
  }

  .tutorial-description-container {
    text-align: center;

    .tutorial-description {
      padding: 0px 40px;
      max-width: 400px;
      display: inline-block;

      h3.title {
        margin: 15px 0px 5px;
      }
    }
  }

  &:before{

    left: 0;
    height: 500px;
    border-width: 222px 0 0 732px;
    border-color: transparent transparent transparent #aaa;
    border-style: solid;
    margin-top: -60px;
    z-index: -1;
    content: "";
    position: absolute;
    width: 0;
    top: 50%;
    opacity: 0.05;
  }

  &:after{
    height: 0;
    right: 0;
    border-width: 580px 170px 0 0;
    border-color: transparent #aaa transparent transparent;
    border-style: solid;
    z-index: -1;

    content: "";
    position: absolute;
    width: 0;
    top: 50%;
    opacity: 0.05;
  }

}
