
@import "resources/assets/sass/base/variables";

#page_wrapper{


}

.tutorials-container {
  padding: 60px 0px;
  overflow: hidden;
  position: relative;
  min-height: 50vh;

  .tutorials-main-top-title{
    text-align: center;
    margin: 15px 0px 90px;
  }

  .tutorial-symbol-container {
    display: inline-block;

    .main-tutorial-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  .tutorial-row  {

    > div {
      text-align: center;
    }

    .main-tut-container{
      max-width: 200px;
      display: inline-block;

      .tutorial-description-container {

        .tutorial-description {
          padding: 0px ;
          max-width: 600px;

          h3.title {
            margin: 15px 0px 5px;
          }
          .tutorial-txt-desc{
            font-size: 17px;

          }
          
          .tutorial-levels {
            a{
              color: $brand-second;

            }
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li{
          display: inline-block;
          padding: 0 20px;
        }
      }
    }
  }

  &:before{

    left: 0;
    height: 500px;
    border-width: 222px 0 0 732px;
    border-color: transparent transparent transparent #aaa;
    border-style: solid;
    margin-top: -60px;
    z-index: -1;
    content: "";
    position: absolute;
    width: 0;
    top: 50%;
    opacity: 0.05;
  }

  &:after{
    height: 0;
    right: 0;
    border-width: 580px 170px 0 0;
    border-color: transparent #aaa transparent transparent;
    border-style: solid;
    z-index: -1;

    content: "";
    position: absolute;
    width: 0;
    top: 50%;
    opacity: 0.05;
  }

}
