#page_wrapper{


}

.tutorial-content {
  //background-color: #e6e6ee;
  padding: 60px 0px;
  overflow: hidden;
  position: relative;
  min-height: 50vh;

  .tutorial-main-title{
    text-align: center;
    margin-bottom: 20px;
    h2{
      font-size: 18px;
    }
    p{
      font-size: 15px;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .main-tutorial-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }

  &:before{

    left: 0;
    height: 500px;
    border-width: 222px 0 0 732px;
    border-color: transparent transparent transparent #aaa;
    border-style: solid;
    margin-top: -60px;
    z-index: -1;
    content: "";
    position: absolute;
    width: 0;
    top: 50%;
    opacity: 0.05;
  }

  &:after{
    height: 0;
    right: 0;
    border-width: 580px 170px 0 0;
    border-color: transparent #aaa transparent transparent;
    border-style: solid;
    z-index: -1;

    content: "";
    position: absolute;
    width: 0;
    top: 50%;
    opacity: 0.05;
  }

  .skills-container {
    padding: 0px 50px;

    .skill-level-container {
      padding: 0px 10px;
      font-size: 18px;
      .title {
        font-size: 30px;
      }
    }
  }
}
.search-section{
  padding: 100px 0px;

  h2.main-title{
    font-size: 30px;
    font-weight: 700;
  }
}