.chapters-section{
  min-height: calc(100vh - 93px);
  background-color: #FFF;

  .header-section {
    padding: 100px 75px 100px 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: $font-family;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.6;
      background: -webkit-linear-gradient(left top,  #bc519e, #3d6098);
      background: -o-linear-gradient(left top,  #bc519e, #3d6098);
      background: -moz-linear-gradient(left top,  #bc519e, #3d6098);
      background: linear-gradient(to left top , #bc519e, #3d6098);
      z-index: 1;
    }

    .subtitle{
      display: inline-block;
      background-color: #FFF;

      h2 {
        position: relative;
        z-index: 2;
        padding: 20px 40px 20px 75px;
        margin: 0px 0px 0px 0px;
        color: lighten($text-color, 75%);
        font-size: 22px;
        font-weight: 800;
        display: inline-block;

        a {
          color: lighten($text-color, 25%);
          text-decoration: none;

          &:hover{
            color: #FFF;
          }
        }

      }
    }

    .heading-inner-container {
      position: relative;
      z-index: 2;

      h1 {
        padding: 20px 40px 20px 75px;
        background-color: #FFF;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 0px;

        @include main-page-header();
        @include main-page-header-left-padding();
      }

    }
  }

  .chapter-container {
    text-align: center;

    .lesson-choosing {
      width: 1200px;
      max-width: 100%;
      text-align: left;
      padding: 75px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;


      @media (max-width: 1150px) {
        width: 1000px;
      }

      @media (max-width: 860px) {
        padding: 40px;
      }

      @media (max-width: 700px) {
        padding: 40px 20px;
      }

      @media (max-width: 700px) {
        padding: 40px 5px;
      }

      .option-container{
        min-height: 230px;
        padding: 20px;
        width: 25%;
        box-sizing: border-box;

        @media (max-width: 1150px) {
          padding: 15px;
        }

        @media (max-width: 1000px) {
          width: 33.33%;
          min-height: 200px;
        }

        @media (max-width: 620px) {
          padding: 10px;
        }

        @media (max-width: 550px) {
          width: 50%;
        }

        .option {
          display: block;
          height: 100%;
          box-sizing: border-box;
          box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.6);
          position: relative;
          text-decoration: none;
          font-size: 22px;
          color: #000;
          max-width: 100%;
          overflow: hidden;

          &:hover{
            box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
          }


          //&.option-circle{
          //  &:before {
          //    content: " ";
          //    position: absolute;
          //    width: 60px;
          //    height: 60px;
          //    opacity: 0.4;
          //    border: 5px solid rgba(250, 250, 250, 0.4);
          //    z-index: 2;
          //  }
          //}
          //&.option-square{
          //  &:before {
          //    content: " ";
          //    position: absolute;
          //    width: 60px;
          //    height: 60px;
          //    border-radius: 50%;
          //    opacity: 0.4;
          //    border: 5px solid rgba(250, 250, 250, 0.4);
          //    z-index: 2;
          //  }
          //}
          //
          //&.option-pos-1:before{
          //  bottom: -25px;
          //  left: -15px;
          //}
          //&.option-pos-2:before{
          //  top: 65px;
          //  right: 5px;
          //}
          //&.option-pos-3:before {
          //  bottom: -25px;
          //  left: -5px;
          //}
          //&.option-pos-4:before {
          //  top: 45px;
          //  right: -10px;
          //}
          //&.option-pos-5:before {
          //  bottom: 25px;
          //  right: 15px;
          //}
          //&.option-pos-6:before {
          //  bottom: -45px;
          //  left: 17px;
          //}

          &:after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.6;
            background: -webkit-linear-gradient(left top,  #bc519e, #3d6098);
            background: -o-linear-gradient(left top,  #bc519e, #3d6098);
            background: -moz-linear-gradient(left top,  #bc519e, #3d6098);
            background: linear-gradient(to left top , #bc519e, #3d6098);
            z-index: 1;
          }

          .bck-img {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: blur(1px);
            -webkit-filter: blur(1px);
          }

          .top-txt{
            background-repeat: repeat;
            background-size: cover;
            position: relative;
            margin: 5px;
            box-sizing: border-box;
            height: calc(100% - 10px);
            border: 1px dashed #fff;
            padding: 5px;
            z-index: 2;

            h4 {
              font-family: $font-family-monospace;
              position: relative;
              z-index: 2;
              margin: 0;
              font-weight: 400;
              font-size: 20px;
              color: #FFF;

              @media (max-width: 600px) {
                font-size: 18px;
              }

            }
          }

          .go-link {
            z-index: 2;
            position: absolute;
            right: 0px;
            left: 0px;
            bottom: 0px;
            padding: 10px;

            .lesson-number {
              color: #FFF;

              @media (max-width: 600px) {
                font-size: 18px;
              }
            }

            i {
              font-size: 60px;
              color: transparent;
              -webkit-text-stroke: 6px rgba(250,250,250,0.4);
              position: absolute;
              z-index: 2;
              transition: -webkit-text-stroke .3s;
              right: -12px;
              bottom: -11px;
            }

          }

          &:hover .go-link i{
            -webkit-text-stroke: 6px rgba($brand-primary,0.4);

          }
        }
      }

    }
  }

}


