.tutorial-name{
  padding: 100px 75px 100px 0px;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: $font-family;

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background: -webkit-linear-gradient(left top,  #bc519e, #3d6098);
    background: -o-linear-gradient(left top,  #bc519e, #3d6098);
    background: -moz-linear-gradient(left top,  #bc519e, #3d6098);
    background: linear-gradient(to left top , #bc519e, #3d6098);
    z-index: 1;
  }


  .subtitle{
    display: inline-block;
    background-color: $brand-second;

    h2 {
      position: relative;
      z-index: 2;
      padding: 20px 10px;
      margin: 0px 0px 0px 0px;
      color: lighten($text-color, 75%);
      font-size: 22px;
      font-weight: 800;
      display: inline-block;

      a {
        color: lighten($text-color, 25%);
        text-decoration: none;

        &:hover{
          color: #FFF;
        }
      }

      &:first-child{
        padding-left: 75px;
        font-size: 26px;

        @media (max-width: $screen-md-max) {
          padding-left: 50px;
        }
      }
      &:last-child{
        padding-right: 40px;


        @media (max-width: $screen-md-max) {
          padding-right: 20px;
        }
      }
    }
  }

  .heading-inner-container {
    position: relative;
    z-index: 2;

    h1 {
      padding: 20px 40px 20px 75px;
      background-color: $brand-second;
      display: inline-block;
      position: relative;
      z-index: 1;
      margin: 0px;

      @include main-page-header();
      @include main-page-header-left-padding();
    }

  }
}

.tutorial-container {

  @include container-sizing();

  .tutorial-description {
    font-size: 22px;
    margin-bottom: 50px;
    line-height: 1.5;
  }

  .tutorial-content {
    font-size: 20px;
    line-height: 1.65;
  }
}


