.courses-section {
  min-height: $full-height-minus-footer-header;
  background-color: $brand-second;

  .header-section{
    padding: 150px 75px 150px 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: $font-family;
    flex: 1;


    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      background: -webkit-linear-gradient(left top,  #bc519e, #3d6098);
      background: -o-linear-gradient(left top,  #bc519e, #3d6098);
      background: -moz-linear-gradient(left top,  #bc519e, #3d6098);
      background: linear-gradient(to left top , #bc519e, #3d6098);
      z-index: 1;
    }


    .subtitle{
      display: inline-block;
      background-color: #FFF;

      h2 {
        position: relative;
        z-index: 2;
        padding: 20px 40px 20px 75px;
        margin: 0px 0px 0px 0px;
        color: lighten($text-color, 75%);
        font-size: 22px;
        font-weight: 800;
        display: inline-block;

        a {
          color: lighten($text-color, 25%);
          text-decoration: none;

          &:hover{
            color: #FFF;
          }
        }

      }
    }

    .heading-inner-container {
      position: relative;
      z-index: 2;

      h1 {
        padding: 20px 40px 20px 75px;
        background-color: #FFF;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 0px;

        @include main-page-header();
        @include main-page-header-left-padding();
      }

    }
  }

  .tutorial-content {
    padding: 75px 0px;
    text-align: center;
    z-index: 2;
    position: relative;
    background-color: #FFF;
    box-sizing: border-box;


    .list-container {
      text-align: center;
      padding: 30px 50px;
      width: 900px;
      max-width: 100%;
      display: inline-block;

      .list-items {
        text-align: left;
        max-width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        z-index: 2;
        list-style: none;
        box-sizing: border-box;

        li {
          position: relative;
          padding: 10px;
          box-sizing: border-box;

          .option {
            text-align: left;
            width: 100%;
            text-decoration: none;
            padding: 0px 10px;
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            min-height: 110px;
            background-position: center;
            background-size: cover;
            background-repeat: repeat;
            transition: box-shadow .5s;
            color: #000;

            .completion-percentage {
              color: #E62C33;
              float: right;
              font-size: 22px;
            }

            .course-number {
              position: absolute;
              top: 0;
              left: 0;
              transform: translateX(-100%);
              color: $brand-primary;
              font-weight: 400;
              font-size: 40px;
              line-height: 35px;
              padding-right: 5px;
            }

            .sub-details{
              margin-top: 8px;
              .lessons-count{
                font-size: 16px;
                float: right;
              }
            }

            h3{
              padding-bottom: 8px;
              margin: 0;
              font-weight: 400;
              font-size: 22px;
              text-decoration: none;
              border-bottom: 1px dashed;
            }
          }
        }
      }
    }
  }
}
