.chapters-section{
  min-height: $full-height-minus-footer-header;
  background-color: $white-color;

  .header-section {
    padding: 100px 75px 100px 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: $font-family;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      background: -webkit-linear-gradient(left top,  #bc519e, #3d6098);
      background: -o-linear-gradient(left top,  #bc519e, #3d6098);
      background: -moz-linear-gradient(left top,  #bc519e, #3d6098);
      background: linear-gradient(to left top , #bc519e, #3d6098);
      z-index: 1;
    }

    .subtitle{
      display: inline-block;
      background-color: $white-color;

      h2 {
        position: relative;
        z-index: 2;
        padding: 20px 40px 20px 75px;
        margin: 0px 0px 0px 0px;
        color: lighten($text-color, 75%);
        font-size: 22px;
        font-weight: 800;
        display: inline-block;

        a {
          color: lighten($text-color, 25%);
          text-decoration: none;

          &:hover{
            color: $white-color;
          }
        }

      }
    }

    .heading-inner-container {
      position: relative;
      z-index: 2;

      h1 {
        padding: 20px 40px 20px 75px;
        background-color: $white-color;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 0px;

        @include main-page-header();
        @include main-page-header-left-padding();
      }

    }
  }

  .chapter-container {
    text-align: center;

    .lesson-choosing {
      width: 1200px;
      max-width: 100%;
      text-align: left;
      padding: 75px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;


      @media (max-width: 1150px) {
        width: 1000px;
      }

      @media (max-width: 860px) {
        padding: 40px;
      }

      @media (max-width: 700px) {
        padding: 40px 20px;
      }

      @media (max-width: 700px) {
        padding: 40px 5px;
      }

      .option-container{
        min-height: 230px;
        padding: 20px;
        width: 25%;
        box-sizing: border-box;

        @media (max-width: 1150px) {
          padding: 15px;
        }

        @media (max-width: 1000px) {
          width: 33.33%;
          min-height: 200px;
        }

        @media (max-width: 620px) {
          padding: 10px;
        }

        @media (max-width: 550px) {
          width: 50%;
        }

        .option {
          display: block;
          height: 100%;
          box-sizing: border-box;
          position: relative;
          text-decoration: none;
          font-size: 22px;
          color: $text-color;
          max-width: 100%;
          //overflow: hidden;
          border: 1px dashed $text-color;

          .top-txt{
            background-repeat: repeat;
            background-size: cover;
            position: relative;
            margin: 5px;
            box-sizing: border-box;
            height: calc(100% - 10px);
            padding: 5px;
            z-index: 2;

            h4 {
              position: relative;
              z-index: 2;
              margin: 0;
              font-weight: 400;
              font-size: 22px;
              color: $text-color;

              @media (max-width: 600px) {
                font-size: 18px;
              }

            }
          }

          .go-link {
            z-index: 2;
            position: absolute;
            right: 0px;
            left: 0px;
            bottom: 0px;
            padding: 10px;

            .lesson-number {
              color: $text-color;
              font-size: 16px;

              @media (max-width: 600px) {
                font-size: 18px;
              }
            }

            i {
              font-size: 20px;
              color: $brand-primary;
              position: absolute;
              z-index: 2;
              transition: -webkit-text-stroke .3s;
              right: 5px;
              bottom: 5px;
            }

          }
        }
      }

    }
  }

}


