.lesson-main-container {
  background-color: #fdfdfd;
  min-height: $full-height-minus-footer-header;

  .tutorial-name{
    padding: 100px 75px 100px 0px;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: $font-family;
    flex: 1;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      background: -webkit-linear-gradient(left top,  #bc519e, #3d6098);
      background: -o-linear-gradient(left top,  #bc519e, #3d6098);
      background: -moz-linear-gradient(left top,  #bc519e, #3d6098);
      background: linear-gradient(to left top , #bc519e, #3d6098);
      z-index: 1;
    }


    .subtitle{
      display: inline-block;
      background-color: $white-color;

      .inner-container {
        position: relative;
        z-index: 2;
        padding: 20px 50px 20px 40px;
        margin: 0px 0px 0px 0px;
        color: lighten($text-color, 75%);
        font-size: 22px;
        font-weight: 800;
        display: inline-block;

        @media (min-width: $screen-sm) {
          padding-right: 75px;
        }

        a {
          color: lighten($text-color, 25%);
          text-decoration: none;

          &:hover{
            color: $white-color;
          }
        }

      }
    }

    .heading-inner-container {
      position: relative;
      z-index: 2;

      h1 {
        padding: 20px 50px 20px 40px;
        background-color: $white-color;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 0px;
        font-size: 30px;
        color: $brand-primary;
        font-weight: 400;

        @media (min-width: $screen-sm) {
          padding-right: 75px;
        }
      }

    }
  }

  .tutorial-container {
    text-align: center;

    @include container-sizing();

    @media (max-width: 600px) {
      padding-right: 5px;
      padding-left: 5px;
    }

    .lesson-progress-container{
      text-align: center;

      .lesson-progress{
        width: 750px;
        max-width: 100%;
        padding: 5px;
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
        box-sizing: border-box;

        .quiz-sign, .text-sign{
          font-size: 16px;
          text-align: center;
          height: 26px;
          width: 26px;
          box-sizing: border-box;
          display: inline-block;
          position: relative;
          margin-right: 5px;
          color: $text-color;
          border: 1px solid $text-color;
          background-color: $white-color;
          font-weight: 900;
          cursor: not-allowed;
          padding: 1px;
          transition: background-color .5s;

          i{
            height: 22px;
            width: 22px;
            line-height: 20px;
            vertical-align: middle;
            text-align: center;
            display: block;
            font-style: normal;
            box-sizing: border-box;
            border: 1px solid #FFF;
            transition: border-color .5s;

            //i {
            //  border: 1px solid $white-color;
            //}
          }

          &.active{
            cursor: pointer;
            background-color: $text-color;
            color: $white-color;
            i {
              border-color: #000;
            }

            + .quiz-sign, + .text-sign {
              cursor: pointer;
            }
          }
          &.pre-active{
            color: $text-color;
            cursor: pointer;

            i {
              border-color: #000;
            }
          }
        }
      }
    }
    
    .lessons-list {
      text-align: left;
      width: 750px;
      max-width: 100%;
      padding: 5px;
      position: relative;
      display: inline-block;
      margin-bottom: 80px;
      min-height: 350px;
      box-sizing: border-box;
      
      .lesson-container{
        display: none;
        background-color: transparent;
        position: relative;

        h2 {
          font-size: 24px;
          letter-spacing: 0.5px;
          margin-bottom: 20px;
        }

        p{
          font-size: 18px;
          line-height: 1.5;
        }

        ul > li {
          padding-bottom: 15px;

          &:last-child {
            padding-bottom: 0;
          }
        }

        strong {
          background-color: #efefef;
          padding: 0 5px;
          border-radius: 5px;
          font-weight: 400;
          color: #E62C33;
          text-shadow: 0 1px white;
        }

        span.marker{
          font-weight: 800;
          font-size: 17px;
          letter-spacing: 0.6px;
        }

        p:empty {
          display:none
        }

        &.show-from-right {
          display: block;
          animation: showFromRight .5s normal;
          animation-fill-mode: forwards;
        }

        &.remove-to-left {
          display: block;
          animation: removeToLeft .5s normal;
          animation-fill-mode: forwards;
        }

        &.show-from-left {
          display: block;
          animation: showFromLeft .5s normal;
          animation-fill-mode: forwards;
        }

        &.remove-to-right {
          display: block;
          animation: removeToRight .5s normal;
          animation-fill-mode: forwards;
        }

        &.active {
          display: block;
        }

        pre{
          margin: 22px 0;
          white-space: pre-wrap;       /* css-3 */
          white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
          white-space: -o-pre-wrap;    /* Opera 7 */
          word-wrap: break-word;       /* Internet Explorer 5.5+ */

          code {
            font-family: $font-family-monospace;
            background-color: #F9F9FB;
            padding: 20px 10px 20px 25px;
            border: 1px solid #ccc;
            border-left: 2px solid #ccc;
            box-shadow: 0 0 3px 1px rgba(140,140,140,0.1);
            border-radius: 1px;
            font-size: 15px;
          }
        }

        > table {
          max-width: 100%;
          border-collapse: collapse;
          //table-layout: fixed;
          word-wrap: break-word;
          overflow-wrap: break-word;
          width: 100%;


          @media (min-width: $screen-sm) {
            table-layout: auto;
            width: auto;
          }

          tr:nth-child(odd) td{
            background-color: rgba(225,225,225, 0.3);
          }

          td{
            border-bottom: 1px solid rgba(200,200,200, 0.2);
            padding: 5px;
            word-wrap: break-word;
            overflow-wrap: break-word;

            @media (min-width: $screen-sm) {
              padding: 12px 10px;
            }
          }

          td, th {
            vertical-align: top;

          }
          th {
            font-size: 16px;
            border-bottom: 1px solid $text-color;
            border-top: 1px solid $text-color;
            padding: 10px 5px;
            word-wrap: break-word;
            overflow-wrap: break-word;

            @media (min-width: $screen-sm) {
              font-size: 18px;
              padding: 12px 10px;
            }
          }
        }
        
        .quiz-form{
          position: relative;
          z-index: 2;
          margin-top: 35px;
          background-color: #fdfdfd;
          .input-container{
            display: block;
            input{
              display: none;
            }

            .input-label{
              cursor: pointer;
              box-shadow: 0px 0px 3px 1px rgba(180,180,180,0.2);
              border: 1px solid #ddd;
              display: block;
              padding: 10px 15px 10px 30px;
              margin-bottom: 10px;
              position: relative;

              &:hover {
                background-color: #f7f7f7;
              }

              &:before {
                position: absolute;
                content: '';
                top: 1px;
                bottom: 1px;
                width: 6px;
                left: 1px;
                background-color: #ccc;
                z-index: 2;
                border-radius: 1px;
              }
            }

            input:checked + .input-label:after {
              position: absolute;
              content: '';
              top: 1px;
              bottom: 1px;
              width: 6px;
              left: 1px;
              background-color: $text-color;
              z-index: 2;
            }
          }
        }
      }

      .prev-load {
        cursor: pointer;
        position: absolute;
        left: 5px;
        bottom: -50px;
        color: #aaa;
        font-size: 30px;

        &:hover i{
          border-radius: 50%;
          color: $text-color;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        }
      }

      .next-load {
        cursor: pointer;
        position: absolute;
        left: 55px;
        bottom: -50px;
        font-size: 30px;

        &:hover i{
          border-radius: 50%;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        }
      }

    }

    .ui-feedback {
      margin: 0;
      height: 0;
      overflow: visible;
      position: relative;
      box-sizing: border-box;
      text-align: right;
      z-index: 1;

      span {
        display: inline-block;
        padding: 15px;
        font-size: 20px;
        border: 1px solid $text-color;
        font-weight: 600;
        position: relative;
        transform: translateY(0);
        transition: transform .4s, opacity 1.5s;
        opacity: 1;
      }

      &.hidden-temp{

        span{
          opacity: 0;
          transform: translateY(calc(-100% - 10px));
        }
      }

      &.warning span{
        border: 1px solid $brand-primary;
      }
    }
  }

}

@keyframes removeToLeft {
  0% {
    right: auto;
    left: 0;
    overflow: hidden;
  }
  50% {
    transform: scale(1,1);
  }
  100%{
    transform: scale(0,0);
    left: -100vw;
  }
}

@keyframes showFromRight {
  0% {
    right: -100vw;
    left: auto;
    overflow: hidden;
    transform: scale(0,0);
  }
  50% {
    transform: scale(1,1);
  }
  100%{
    right: 0;
  }
}

@keyframes removeToRight {
  0% {
    left: auto;
    right: 0;
    overflow: hidden;
  }
  50% {
    transform: scale(1,1);
  }
  100%{
    transform: scale(0,0);
    right: -100vw;
  }
}

@keyframes showFromLeft {
  0% {
    left: -100vw;
    right: auto;
    overflow: hidden;
    transform: scale(0,0);
  }
  50% {
    transform: scale(1,1);
  }
  100%{
    left: 0;
  }
}

