.static-page-content{

  h1{
    font-size: 40px;
    margin: 75px 0px 0px;
    @include main-page-header-left-padding();
    @include main-page-header();

    color: $text-color;
    font-weight: 800;
  }

  .content {

    @include container-sizing();

    p{
      margin: 0;
    }
  }
}