body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  position: relative;

  &.fixed-body {
    position: fixed;
  }

  > main {
    margin-top: 50px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  #footer-container{
    margin: 10px 15px;
    text-align: center;

    .copyright-container{
      box-sizing: border-box;
      text-align: center;
      margin: 0;
      padding-top: 10px;
    }

    .footer-links{
      margin: 0;
      box-sizing: border-box;
      vertical-align: middle;
      list-style: none;
      padding: 0;

      > li {
        display: inline-block;
        padding-left: 10px;

        a {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: $text-color;
          text-decoration: none;
          transition: color .5s;
          font-size: 18px;
          letter-spacing: 1px;
          font-weight: 100;

          &.active, &:hover {
            color: $brand-primary;
          }
        }

      }
    }
  }
}
textarea:focus, input:focus, button:focus{
  outline: none;
}
.logo-txt {
  display: inline-block;
  text-align: right;
  text-decoration: none;
  height: 44px;
  vertical-align: middle;
  line-height: 44px;

  .red{

    vertical-align: middle;
    font-family: 'Fjalla One', sans-serif;
    display: inline-block;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0px;
    font-weight: 900;
    text-align: center;
    line-height: 44px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .tutorial{
    padding: 0px 2px;
    line-height: 44px;
    vertical-align: middle;
    display: inline-block;
    font-size: 34px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    color: $text-color;
    font-family: 'Yesteryear', cursive;

  }
}