body {
  font-family: $font-family;
  margin: 0;
  padding: 0;

  &.fixed-body {
    position: fixed;
  }

  main {

    overflow: hidden;
    background-color: #FFF;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    .right-container{
      padding: 75px;
    }

    @media (max-width: $screen-md-max) {
      margin-left: 0;
      margin-top: 50px;
    }

    #footer-container{
      margin: 10px 0px;

      .copyright-container{
        width: 50%;
        padding-right: 20px;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
      }

      .footer-links{
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        padding-left: 10px;
        list-style: none;

        > li {
          display: inline-block;
          padding-left: 10px;

          a {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #000;
            text-decoration: none;
            transition: color .5s;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 100;

            &.active, &:hover {
              color: $brand-primary;
            }
          }

        }
      }
    }
  }

}
textarea:focus, input:focus, button:focus{
  outline: none;
}
.logo-txt {
  display: inline-block;
  text-align: right;
  margin: 8px 0px;
  text-decoration: none;
  height: 44px;
  vertical-align: middle;
  line-height: 44px;

  .red{

    vertical-align: middle;
    font-family: 'Fjalla One', sans-serif;
    //-webkit-text-stroke: 1px #FFF;
    display: inline-block;
    color: #FFF;
    background-color: $brand-primary;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    //-webkit-text-stroke: 2px #E62C33;
    //padding: 0px 1px;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    border: 1px solid $brand-primary;
    box-sizing: border-box;
    overflow: hidden;
    padding: 8px 0px;
  }
  .tutorial{
    padding: 0px 2px;
    line-height: 44px;
    vertical-align: middle;
    display: inline-block;
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: -4px;
    text-align: center;
    //border-top: 2px solid #E62C33;
    //border-bottom: 2px solid #E62C33;
    //-webkit-text-stroke: 1px #FFF;
    color: #000;
    font-family: $font-family-monospace;
  }
}