.alert {
  padding: 20px 60px 20px 20px;
  background-color: #EEE;
  position: relative;
  min-height: 70px;
  box-sizing: border-box;
  font-size: 18px;

  p {
    margin: 0px 0px 5px;
  }

  &.alert-danger {
    p {
      &:before {
        content: "• ";
        color: $brand-primary;
        font-size: 22px;
        line-height: 5px;
      }
    }
  }

  .close {
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid $brand-primary;
    color: $brand-primary;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    background-color: $white-color;
    line-height: 2px;
    cursor: pointer;

    &:hover {
      background-color: $brand-primary;
      color: $white-color;
    }
  }
}

.feedback-container{
  .feedback{
    text-align: left;
    display: inline-block;
    width: 400px;
    max-width: 100%;

    .alert {
      background-color: $white-color;
      border: 1px dashed $brand-primary;
      font-weight: 400;
      letter-spacing: .5px;
      margin-bottom: 40px;
    }
  }
}


.link {
  color: $brand-primary;
  transition: color .5s;

  &:hover, &:focus, &:active{
    color: lighten($brand-primary, 10%);
  }
}

.info-paragraph {
  margin: 0 0 25px;

  a{
    @extend .link;
  }

  &.txt-lg {
    font-size: 18px;
  }
}