// Variables
@import "base/variables";
@import "base/mixin";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Master & Sidebar
@import "partials/buttons";
@import "partials/master";
@import "partials/sidebar";

textarea:focus, input:focus, button:focus{
  outline: none;
}

@font-face {
  font-family: 'BOLDFONT';
  src: url(/fonts/Pacifi-Serif-Bold.ttf) format("ttf");
}

