// Variables
@import "base/variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

textarea:focus, input:focus, button:focus{
  outline: none;
}

@font-face {
  font-family: 'BOLDFONT';
  src: url(/fonts/Pacifi-Serif-Bold.ttf) format("ttf");
}

#page_wrapper {
  min-height: 100vh;

  #main_navigation {
    color: #333;
    text-align: center;
    height: 70px;
    position: relative;
    background: transparent;
    overflow: visible;

    .main-logo {
      max-height: 70px;
      padding: 5px;
      display: inline-block;
      float: left;
    }

    .title {
      display: inline-block;
      line-height: 70px;
      vertical-align: middle;
      margin: 0;
      font-weight: 800;
      font-size: 20px;
      padding-left: 25px;
      float: left;

      .red{
        color: $brand-primary;
        border: 1px solid $brand-primary;
        padding: 2px 5px;
      }

      .tutorial {
        color: $brand-second;
        padding: 2px 5px;
      }
    }

    .main-menu-list {
      text-align: right;
      .menu-list {
        padding: 0;
        list-style-type: none;
        font-weight: 700;
        font-size: 29px;

        li{
          cursor: pointer;
          display: inline;
          padding: 0 30px;
          margin-right: -8px;

          &:not(:last-child){
            border-right: 1px solid #ccc;
          }

          a{
            line-height: 70px;
            color: #333;

            span {
              font-weight: 400;
            }
          }
        }
      }
    }

    .navigation-sidebar{
      cursor: pointer;
      overflow: visible;
      float: right;

      .menu-sidebar {
        top: 70px;
        display: block;
        position: absolute;
        max-width: 0vw !important;
        width: 500px;
        height: calc(100vh - 70px);
        right: 0;
        transition: max-width 1s ease;
        overflow: hidden;

        .menu-items {
          list-style-type: none;
          max-height: 0px;
          overflow: hidden;
          opacity: 0;
          transition: all 3s ease;


        }
      }
    }
  }
}

#page_wrapper.show-menu {
  height: 100vh;
  #main_navigation .navigation-sidebar .menu-sidebar {
    max-width: 100vw !important;
    .menu-items{
      opacity: 1;
      max-height: 100%;
    }
  }
}

.text-center{
  text-align: center;
}

.big-rounded-btn{
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: $body-bg;
  box-sizing: border-box;

  &.html-tutorial-btn {
    .inner-container{
      background-image: url('/assets/img/html-background.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &.css-tut{
        background-image: url('/assets/img/css-background.jpg');
      }

      a{
        color: $brand-primary;
      }
    }
  }


  &:hover {
    .inner-shadow {
      background-color: #fdfdfd;
    }
  }

  .inner-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    //background-color: #FFF;
    z-index: 1;
    cursor: pointer;

    a {
      width: 100%;
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      z-index: 2;
      position: absolute;
      top: 0;

      &:hover {
        text-decoration: none;
      }

      .desc-title {
        display: inline-block;
        height: 70px;
        background-color: $body-bg;
        padding: 0px 10px;
        min-width: 150px;
        line-height: 70px;
        vertical-align: bottom;
      }
    }

    &:before{

      left: 0;
      height: 200px;
      border-width: 100px 0 0 150px;
      border-color: transparent transparent transparent #aaa;
      border-style: solid;
      margin-top: -60px;
      z-index: 0;
      content: "";
      position: absolute;
      width: 0;
      top: 50%;
      opacity: 0.05;
    }

    &:after{
      height: 0;
      right: 0;
      border-width: 280px 270px 0 0;
      border-color: transparent #aaa transparent transparent;
      border-style: solid;
      z-index: 0;

      content: "";
      position: absolute;
      width: 0;
      top: 50%;
      opacity: 0.05;
    }
  }


}