body,
html {
  background-color: #FFF;
  height: 100%;
}

body *,
html * {
  font-family: "MySans";
}

body main,
html main {
  min-height: calc(100vh - 100px);
}

body main.f-box-display,
html main.f-box-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .row,
html main .row {
  width: 350px;
  max-width: 90vw;
}

body main h1,
html main h1 {
  color: #7f9d2d;
  margin: 50px 0px;
  text-align: center;
}

body main button.submit,
html main button.submit {
  display: block;
  background-color: #2f435e;
  color: #ececec;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

body main button.submit:hover,
html main button.submit:hover {
  -webkit-animation: submit-hover .3s forwards;
          animation: submit-hover .3s forwards;
}

body main .input-container,
html main .input-container {
  padding: 1vh 0vh;
}

body main .input-container_username,
html main .input-container_username {
  margin-top: 40px;
}

body main .input-container input,
html main .input-container input {
  position: relative;
  display: block;
  border: none;
  margin: 15px 0px 25px;
  width: 100%;
  border-bottom: 2px solid #ececec;
}

body main .input-container input:focus,
html main .input-container input:focus {
  -webkit-animation: input-active .7s forwards;
          animation: input-active .7s forwards;
}

body main .img-container,
html main .img-container {
  text-align: center;
}

body main .img-container img,
html main .img-container img {
  margin: 0 auto;
  text-align: center;
  border-radius: 10%;
  height: 100px;
  width: auto;
}

body footer,
html footer {
  height: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  padding: 30px 10px 10px;
}

body footer ul,
html footer ul {
  text-align: left;
  display: inline-block;
}

body footer ul .warning,
html footer ul .warning {
  color: #c3423d;
}

.alert {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #675100;
  border-width: 0;
  border-left-width: 5px;
  padding: 10px 25px 10px 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 1.42857143;
  position: relative;
}

.alert.alert-danger {
  border-color: #953b39;
  color: #fff;
  background: #c26565;
  text-shadow: none;
}

.alert.alert-dismissible .close {
  top: 0;
  width: 25px;
  right: 0px;
  line-height: 20px;
  position: absolute;
  color: inherit;
  padding: 0 2px;
  cursor: pointer;
  background: none !important;
  border: 0;
  vertical-align: middle;
  font-size: 19.5px;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(169, 3, 41, 0.5);
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.alert.alert-dismissible .close [aria-hidden]:hover {
  opacity: 0.7;
}

@-webkit-keyframes input-active {
  0% {
    border-bottom: 2px solid #ececec;
  }

  100% {
    border-bottom: 2px solid #7f9d2d;
  }
}

@keyframes input-active {
  0% {
    border-bottom: 2px solid #ececec;
  }

  100% {
    border-bottom: 2px solid #7f9d2d;
  }
}

@-webkit-keyframes submit-hover {
  from {
    background-color: #2f435e;
  }

  to {
    background-color: #7f9d2d;
  }
}

@keyframes submit-hover {
  from {
    background-color: #2f435e;
  }

  to {
    background-color: #7f9d2d;
  }
}

