/*
#f05256
#2f4050
#516f79

#e3eaf4
#d8d8d8
#ebebeb

#fafafa
*/

body {
  font-family: "PT Sans", sans-serif;
}

body main #content_top_section {
  border-bottom: 1px solid #333;
  height: 50px;
  margin-left: 300px;
}

@media (min-width: 1200px) {
  body main #content_top_section {
    margin-left: 28%;
  }
}

#left_menu {
  background: #ededed;
  position: fixed;
  height: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
}

@media (min-width: 1200px) {
  #left_menu {
    width: 28%;
  }
}

#left_menu .logo-container {
  float: right;
  margin-top: 100px;
  margin-right: 95px;
  margin-bottom: 50px;
}

#left_menu .logo-container .logo-txt {
  text-align: right;
}

#left_menu .logo-container .logo-txt .red {
  display: block;
  color: #E62C33;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 6px;
  font-weight: lighter;
  text-align: center;
}

#left_menu .logo-container .logo-txt .tutorial {
  display: block;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 6px;
  text-align: center;
}

#left_menu nav {
  color: #000;
  float: right;
  margin-right: 95px;
  padding-left: 20px;
}

#left_menu nav ul {
  text-align: right;
  list-style: none;
  letter-spacing: 1.5px;
  padding: 0;
}

#left_menu nav ul li {
  line-height: 1.4;
  font-size: 14px;
}

#left_menu nav ul li > .item-label {
  position: relative;
}

#left_menu nav ul li > .item-label > a {
  text-decoration: none;
  color: #000;
}

#left_menu nav ul li > .item-label > i.fas {
  position: absolute;
  right: -20px;
  top: 2px;
  cursor: pointer;
}

#left_menu nav ul li > .item-label:hover {
  color: #E62C33;
}

#left_menu nav ul li > .item-label:hover > a {
  color: #E62C33;
}

#left_menu nav ul li ul {
  display: none;
}

#left_menu nav ul li.active > .item-label > a,
#left_menu nav ul li.active > .item-label > i.fas {
  color: #E62C33;
}

#left_menu nav ul li.active > ul {
  display: block;
}

#left_menu nav ul.root-list > li {
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 18px;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: 'BOLDFONT';
  src: url(/fonts/Pacifi-Serif-Bold.ttf) format("ttf");
}

