/*
#f05256
#2f4050
#516f79

#e3eaf4
#d8d8d8
#ebebeb

#fafafa
*/

.tutorials-container {
  padding: 60px 50px;
  overflow: hidden;
  position: relative;
  min-height: 50vh;
}

.tutorials-container .tutorials-main-top-title {
  text-align: center;
  margin: 15px 0px 90px;
}

.tutorials-container:before,
.tutorials-container:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0;
  top: 50%;
  opacity: 0.05;
  border-style: solid;
}

.tutorials-container:before {
  left: 0;
  height: 500px;
  border-width: 222px 0 0 732px;
  border-color: transparent transparent transparent #aaa;
  margin-top: -60px;
}

.tutorials-container:after {
  height: 0;
  right: 0;
  border-width: 580px 170px 0 0;
  border-color: transparent #aaa transparent transparent;
}

.tutorials-container .tutorial-item {
  padding: 0px 20px;
}

.tutorials-container .tutorial-item .tutorial-item-container {
  -webkit-box-shadow: 0px 0px 2px 2px #ededed;
          box-shadow: 0px 0px 2px 2px #ededed;
  background-color: #fbfbfb;
}

.tutorials-container .tutorial-item .tutorial-item-container > header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.tutorials-container .tutorial-item .tutorial-item-container > header h2 {
  background-color: #fbfbfb;
  font-weight: 700;
  padding: 8px 40px;
  position: absolute;
  bottom: 0px;
  text-decoration: underline;
  left: 0px;
  right: 0px;
  margin: 0;
  color: transparent;
}

.tutorials-container .tutorial-item .tutorial-item-container > section {
  position: relative;
  z-index: 1;
  padding: 25px 40px 25px;
  min-height: 135px;
}

.tutorials-container .tutorial-item .tutorial-item-container > section p {
  margin: 0;
}

.tutorials-container .tutorial-item .tutorial-item-container > footer {
  padding: 0px 40px 25px;
}

.tutorials-container .tutorial-item .tutorial-item-container > footer .horizontal-ln {
  margin-left: -30px;
  width: 75%;
  height: 1px;
  background-color: #ededed;
  margin-bottom: 25px;
}

.tutorials-container .tutorial-item .tutorial-item-container > footer a {
  text-decoration: none !important;
  font-weight: 300;
  background-color: transparent;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 10px;
}

