.sign-in-page {
  font-family: $font-family;
  min-height: $full-height-minus-footer-header;

  .top-section {
    padding: 100px 75px 100px 0px;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.6;
      background: -webkit-linear-gradient(left top,  #bc519e, #3d6098);
      background: -o-linear-gradient(left top,  #bc519e, #3d6098);
      background: -moz-linear-gradient(left top,  #bc519e, #3d6098);
      background: linear-gradient(to left top , #bc519e, #3d6098);
      z-index: 1;
    }

    h1{
      position: relative;
      z-index: 2;
      padding: 20px 20px 20px 75px;
      margin: 0;
      display: inline-block;
      background-color: $white-color;
      border-radius: 0 3px 3px 0;

      @include main-page-header();
      @include main-page-header-left-padding();
    }
  }

  .content {
    @include container-sizing();
    text-align: center;

    .choose-action div{
      width: 400px;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 30px;

      h2{
        cursor: pointer;
        display: inline-block;
        width: 49.5%;
        box-sizing: border-box;
        transition: color .2s;

        &.active {
          color: $brand-primary;
        }

        &:first-child {
          border-right: 1px solid $text-color;
        }

        &:last-child:first-child{
          border: none;
        }
      }
    }

    form.sign-in-forms{
      display: none;

      &.active{
        display: inline-block;
      }

      .info-paragraph{
        margin-bottom: 35px;
      }
    }
  }
}
