body {
  font-family: $font-family;
  margin: 0;
  padding: 0;

  &.fixed-body {
    position: fixed;
  }

  main {

    overflow: hidden;
    background-color: #FFF;
    min-height: 100vh;
    box-sizing: border-box;
    margin-left: $sidebar-lg;

    @media (min-width: $screen-xl) {
      margin-left: $sidebar-xl;
    }

    .right-container{
      padding: 75px;
    }

    @media (max-width: $screen-md-max) {
      margin-left: 0;
      margin-top: 50px;
    }
  }

}
textarea:focus, input:focus, button:focus{
  outline: none;
}
