#left_menu {

  &::-webkit-scrollbar {
    display: none;
  }

  overflow: auto;
  background: $brand-dark;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: $sidebar-lg;
  transition: left .5s;
  z-index: 50;

  @media (min-width: $screen-xl) {
    width: $sidebar-xl;
  }

  @media (max-width: $screen-md-max) {
    left: -$sidebar-lg;

    .logo-container{
      display: none;
    }

    nav {
      margin-top: 70px;
    }

    &.sidebar-show{
      left: 0;
    }

  }

  .logo-container {
    float: right;
    margin-top: $padding-content-top;
    margin-right: 95px;
    margin-bottom: 50px;
  }

  nav{
    color: $text-color-sidebar;
    float: right;
    margin-right: 95px;
    padding-left: 20px;
    clear: both;


    ul.root-list{
      letter-spacing: 1.5px;
      text-align: right;
      list-style: none;


      li {
        color: $text-color-sidebar;

        &.see-other-courses {
          border-top: 1px dashed #CCC;
          margin-bottom: 10px;
          font-size: 17px;
          padding-top: 40px;
          margin-top: 40px;

          ~ li {
            display: none;
          }

          &.top-side {
            margin-top: 0;
            border-top: none;
            padding-top: 0;
          }

          &.active-see {
            ~ li {

              display: block;

            }

            .see-btn{
              color: $brand-primary;
            }
          }

          .see-btn {
            cursor: pointer;
            background: none;
            border: none;
          }
        }


        &.course-level{
          margin-bottom: 22px;

          &.active {
            > .item-label {
              //color: $brand-primary;

              .open-symbol i {
                background-color: $brand-primary;
              }

            }
          }

          >.item-label {
            font-size: 20px;
          }

          > .chapters-list {
            display: none;
            list-style: none;
            margin: 10px 0px;

            li.chapter-level {
              margin-bottom: 10px;

              >.item-label {
                font-size: 18px;
              }

              > .lessons-list{
                display: none;
                list-style: none;

                .lesson-level {
                  margin: 5px -20px 5px 5px;

                  >.item-label {
                    font-size: 16px;


                    i {
                      color: $brand-second;
                    }
                  }

                  &.active > .item-label i {
                    color: $brand-primary;
                  }
                }
              }

              &.active {
                > .item-label {
                  i.toggle-children{
                    color: $brand-primary;
                  }
                  span.toggle-children i {
                    background-color: $brand-primary;
                  }
                }

                .lessons-list {
                  display: block;
                }
              }

            }
          }

          &.active > .chapters-list {
            display: block;
          }
        }

        > .item-label {
          position: relative;

          a{
            text-decoration: none;
            color: inherit;
          }

          .toggle-children > i{
            cursor: pointer;
          }

          .open-symbol, .toggle-children > i{
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
          }

          .open-symbol {
            display: inline-block;
            width: 15px;
            height: 15px;

            i {
              content: "";
              width: 15px;
              height: 2px;
              background-color: $text-color-sidebar;
              display: inline-block;
              position: absolute;
              cursor: pointer;
              transition: transform .5s;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;

              &:first-child{
                transform: rotate(90deg);
              }
            }
          }
        }

        &.active > .item-label > .open-symbol i:first-child{
          transform: rotate(180deg);
        }
      }
    }

    ul.pages-links {
      text-transform: uppercase;
      text-align: right;
      list-style: none;
      letter-spacing: 1.5px;

      li {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 1.4;

        &.my-account{
          border-bottom: 1px dashed #CCC;
          margin-bottom: 40px;
          padding-bottom: 40px;

        }

        a {
          text-decoration: none;
          color: $text-color-sidebar;
          &.active  {
            color: $brand-primary;
          }
        }
      }
    }
  }
}

.logo-txt {
  text-align: right;
  margin: 16px 0px;
  text-decoration: none;

  .red{
    display: block;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 6px;
    font-weight: lighter;
    text-align: center;
  }
  .tutorial{
    display: block;
    color: $text-color-sidebar;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 6px;
    text-align: center;
  }
}

.mobile-nav {
  padding:5px;
  display: none;
  background-color: rgba($brand-second, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;

  @media (max-width: $screen-md-max) {
    display: block;
  }

  .logo-txt {
    margin: 0;
    display: inline-block;

    .red{
      font-size: 22px;
    }

    .tutorial {
      font-size: 12px;
    }
  }

  .trigger-sidebar {
    display: inline-block;
    float: right;
    height: 40px;
    width: 65px;
    border-radius: 7px;
    background-color: initial;
    position: relative;
    box-sizing: border-box;
    border: none;

    &:before, &:after{
      content: "";
      position: absolute;
      height: 1px;
      width: 30px;
      background-color: $brand-primary;
      left: 17px;
      top: 15px;
      transition: transform .5s;
    }

    &:after {
      top: 24px;
    }

    &.trigger-open{
      &:before {
        top: 20px;
        transform: rotate(45deg);
      }
      &:after {
        top: 20px;
        transform: rotate(-45deg);
      }
    }
  }
}
