#left_menu {

  &::-webkit-scrollbar {
    display: none;
  }

  overflow: auto;
  background: $brand-dark;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: $sidebar-lg;
  transition: left 1s;
  z-index: 50;

  @media (min-width: $screen-xl) {
    width: $sidebar-xl;
  }

  @media (max-width: $screen-md-max) {
    left: -$sidebar-lg;

    .logo-txt{
      display: none;
    }

    &.sidebar-show{
      left: 0;
    }

  }

  .logo-container {
    float: right;
    margin-top: $padding-content-top;
    margin-right: 95px;
    margin-bottom: 50px;
  }

  nav{
    color: $text-color-sidebar;
    float: right;
    margin-right: 95px;
    padding-left: 20px;
    clear: both;

    ul {
      text-align: right;
      list-style: none;
      letter-spacing: 1.5px;
      padding: 0;
      margin-bottom: 0px;
      margin-top: 0px;

      .list-display-roman {
        list-style-type: upper-roman;
        direction: rtl;
      }

      li {
        line-height: 1.4;
        font-size: 14px;
        margin-bottom: 5px;

        > .item-label {
          position: relative;

          > a {
            text-decoration: none;
            color: $text-color-sidebar;
          }

          &:hover {
            color: $brand-primary;

            > a {
              color: $brand-primary;
            }
          }
        }


        ul {
          display: none;
        }

        &.active {
          > .item-label {
            > a, > i.fas{
              color: $brand-primary;
            }
          }

          > ul {
            display: block;
          }
        }
      }
    }

    ul.root-list {
      > li{
        margin-bottom: 22px;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
  }

  .pages-links {
    padding-top: 50px;
    border-top: 1px dashed #CCC;
    text-transform: uppercase;

    li {
      margin-bottom: 12px;
      font-size: 16px;

      a {
        text-decoration: none;
        color: $text-color-sidebar;

        &:hover, &.active {
          color: $brand-primary;
        }
      }
    }
  }

}

.list-item {
  > .item-label > .open-symbol {
    display: inline-block;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;

    i {
      content: "";
      width: 15px;
      height: 2px;
      background: $text-color-sidebar;
      display: inline-block;
      position: absolute;
      cursor: pointer;
      transition: transform .5s;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      &:first-child{
        transform: rotate(90deg);
      }
    }
  }

  &.active > .item-label > .open-symbol i:first-child{
    transform: rotate(180deg);
  }
}

.logo-txt {
  text-align: right;
  margin: 16px 0px;
  text-decoration: none;

  .red{
    display: block;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 6px;
    font-weight: lighter;
    text-align: center;
  }
  .tutorial{
    display: block;
    color: $text-color-sidebar;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 6px;
    text-align: center;
  }
}

.mobile-nav {
  padding:10px;
  display: none;
  background-color: $brand-second;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;

  @media (max-width: $screen-md-max) {
    display: block;
  }

  .logo-txt {
    margin: 0;
    display: inline-block;

    .red{
      font-size: 25px;
    }

    .tutorial {
      font-size: 14px;
    }
  }

  .trigger-sidebar {
    display: inline-block;
    float: right;
    height: 40px;
    width: 65px;
    border-radius: 7px;
    background-color: $brand-second;
    position: relative;
    box-sizing: border-box;
    border: none;

    &:before, &:after{
      content: "";
      position: absolute;
      height: 1px;
      width: 30px;
      background-color: $brand-primary;
      left: 17px;
      top: 15px;
      transition: transform .5s;
    }

    &:after {
      top: 24px;
    }

    &.trigger-open{
      &:before {
        top: 20px;
        transform: rotate(45deg);
      }
      &:after {
        top: 20px;
        transform: rotate(-45deg);
      }
    }

  }

}
